body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header-bg{
    background-color: #000000;
}

.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 0px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.header-menu a{
    display: inline-block;
    color: #ffffff;
    position: relative;
}

.header-menu a:after{
    content: "";
    display: block;
    background: #ffffff;
    height: 2px;
    width: 0px;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover:after{
    width: 100%;
}

@media (max-width: 800px){
    .header-menu{
        gap: 15px;
    }

    .header-menu a{
        background: #111111;
        border-radius: 4px;
        padding: 12px 16px;
    }

    .header-menu a:hover{
        background: #2e2e2e;
    }

    .header-menu a:after{
        display: none;
    }
}

@media (max-width: 600px){

}