body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header-bg{
    background-color: #000000;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.header-menu{
    display: flex;
    gap: 30px;
}

.header-menu a{
    display: inline-block;
    color: #ffffff;
    position: relative;
}

.header-menu a:after{
    content: "";
    display: block;
    background: #ffffff;
    height: 2px;
    width: 0px;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover:after{
    width: 100%;
}